@charset "utf-8";
*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  padding: 0;
  margin:0;
  height: 100vh;
  justify-self: center;
  align-items: center;
  background-color: #999;
}

.container{
     width:100%;
     height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/best\ background\ html\ code\ one.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    padding-left:5%;
    padding-right:3%;
    box-sizing: border-box;
}
.logo{

  
  height: 80px;
  margin-bottom: 20px;
  float:left;
  list-style: none;
  margin-top: 20px;
  padding-right: 10px;
}

.logo img{
  width:100%;
  height:100%;
 
}
.nav-area {
    float:right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
  }
  .nav-area  li{
      display: inline-block;
  }
  .nav-area li a{
          color: #fff;
          text-decoration:none;
          padding:5px 20px;
          font-size: 14px;
  }
  .nav-area li a:hover{
       background:  #fff;
       color: #333;
    }

  .row{
    display:inline-flex;
    height: 80%;;
    align-items: center;   

  }
  .col{
    flex-basis: 50%;
  }
  .col-2{
    left:0;
    margin:0;
    padding-right:0%;
  }
  button{
    width:140px;
    color: #000;
    font-size: 12px;
    padding:12px 0;
    background: #fff;
    border:0;
    border-radius:20px;
    outline:none ;
    margin-top:30;

  }
  .card{
    width: 230px;
    height: 200px;
    display: inline-block;
    position: left;
    border-radius: 15px;
    padding: 15px 5px;
    box-sizing:border-box;
    cursor:pointer ;
    margin:20px 25px;
    background-position:center;
    background-size: cover;
  }
  .card1{
    background-image: url(image/image1.jpg);
  }
  .card2{
    background-image: url(image/childrenzoneandswimming\ polol.jpg);
  }
  .card3{
    background-image: url(image/image2.jpg);
  }
  .card4{
    background-image: url(image/buffetimage4.png);
  }
  .card:hover{
    transform: translateY(-15px);
  }
  .h4{
    color: #fff;
    text-shadow:0 0 5px #999;
  }
  .card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;;
  }
.img-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 40px ;
  background: #1D212B;
  background-size:cover;
}
.img-slider .slide {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-bottom: 0%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1.5s;
  transition-property: clip-path;
}
.img-slider .slide img {
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}
.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}
.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.img-slider .navigation .btn.active {
  background: #21130d;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 820px) {
  .img-slider {
      width: 600px;
      height: 375px;
  }

  .img-slider .slide .info {
      padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
      font-size: 35px;
  }

  .img-slider .slide .info p {
      width: 70%;
      font-size: 15px;
  }

  .img-slider .navigation {
      bottom: 25px;
  }

  .img-slider .navigation .btn {
      width: 10px;
      height: 10px;
      margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
      width: 400px;
      height: 250px;
  }

  .img-slider .slide .info {
      padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
      font-size: 30px;
  }

  .img-slider .slide .info p {
      width: 70%;
      font-size: 13px;
  }

  .img-slider .navigation {
      bottom: 15px;
  }

  .img-slider .navigation .btn {
      width: 8px;
      height: 8px;
      margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
      width: 320px;
      height: 200px;
  }

  .img-slider .slide .info {
      padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
      font-size: 25px;
  }

  .img-slider .slide .info p {
      width: 90%;
      font-size: 11px;
  }

  .img-slider .navigation {
      bottom: 10px;
  }
}
footer{
  position: relative ;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 0px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid green;
}
.center h2{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid greenyellow;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
.about-page{
  font-size: larger;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


